.section-1
{
    background-color: #3ec7c2;
    height: 346px;
    margin: -10px;
}
.handimg
{
    margin-left:430px;
    margin-top: 10px;

}
.man
{
    margin-left: 559px;
}
.section-2
{
    background-color: #60cd9b;
    height: 280px;
    margin-right: -10px;
    margin-left: -10px;
}
.tagline-white
{
    font-family: ubuntu;
    font-size: 35px;
    text-align: center;
    margin-top: 0px;
    
}
.myButton {
    background: transparent;
    -moz-border-radius:28px;
    border-radius:28px;
    border:1px solid white;
    display:inline-block;
    cursor:pointer;
    outline: none;
    color:#60cd9b;
    font-family:ubuntu;
    font-size:20px;
    position: absolute;
    display: inline-block;
    padding:10px ;
}

.myButton
{   color: black;
    border: 2px solid black;
}

.myButton:hover
{
    background-color: #3ec7c2;
    color: white;
}
#section-2
{
    width: 250px;
    bottom: -230px;
    left: 500px;
}
.section-3
{
    background-color: #04b2cc;
    height: 280px;
    margin-right: -10px;
    margin-left: -10px;
}
#section-3
{
    width: 250px;
    bottom: -510px;
    left: 500px;
}
.section-4
{
    background-color: #eea29a;
    height: 280px;
    margin-right: -10px;
    margin-left: -10px;
}
#section-4
{
    width: 250px;
    bottom: -790px;
    left: 500px;
}
.section-5
{
    background-color: #ee9a;
    height: 280px;
    margin-right: -10px;
    margin-left: -10px;
}
#section-5
{
    width: 250px;
    bottom: -1060px;
    left: 509px;
}
.gray-footer
{
    background-color: #262626;
    height: 400px;
    margin-left:-10px;
    color: azure;
    margin-right:-10px;
    margin-bottom: 0px;
}
#footer
{
    font-size: 20px;
}
#logout
{   position: relative;
    left: 1140px;
    top: -180px;
     width: 100px; 
}
.welcome
{
    position: relative;
    top: -50px;

}